<h1 class="text-center mt-4 mb-4">Login</h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      
      <%= form_with(scope: :session, url: login_path, class: "form-partial shadow p-3 mb-3 rounded", local: true) do |form| %>
        
        <div class="form-group row mb-2">
          <%= form.label :email, "E-mail", class: "form-label col-form-label-lg  text-light" %> <br>
          <div>
            <%= form.email_field :email, class: "form-control form-control-lg shadow rounded", placeholder: "Insira seu e-mail aqui" %>
          </div>
        </div>

        <div class="form-group row">
          <%= form.label :password, "Senha", class: "form-label col-form-label-lg  text-light" %> <br>
          <div>
            <%= form.password_field :password, class: "form-control form-control-lg shadow rounded", placeholder: "Insira sua senha aqui" %>
          </div>
        </div>

        <div class="form-group text-center mt-4">
          <%= form.submit "Login", class: "btn btn-outline-light btn-lg" %>
        </div>
      <% end %>
    </div>
    <%= link_to "[ Cancelar e voltar para a tela inicial ]", root_path, class: "go-back-partial text-center mb-4" %>
  </div>
</div>